@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Roboto:ital,wght@1,300&family=Rock+3D&display=swap');
p{
    font-family: 'Moo Lah Lah', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rock 3D', cursive;
}

h1{
    font-family: 'Moo Lah Lah', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rock 3D', cursive;}
    